.cards-styling{
    display: flex;
    padding-top: 50px;
    /* justify-content: center; */
    margin-left: 370px;
    /* margin-bottom: 100px; */
    margin-top: 100px;
    flex-wrap: wrap;
    position: relative;
    /* background-color: rgb(238, 233, 233); */
    
}

.card-item {
    margin-top: 20px;
}
.card-2 {
  
    width: 400px; /* Adjust the width as needed */
    /* height: 50%; */
    /* margin-bottom: 20px; */
    margin-top: 0;
    margin-bottom: 30px;
     margin-left: 300px; 
    /* margin: 5px; */
    padding: 10px;
    /* border: 1px solid #ccc; */
    /* box-sizing:0%; */
    border-color: white;
    justify-content: center;
    position: absolute;


}
.card-3{
    width: 200px; /* Adjust the width as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
    margin-top: 0px;
    margin-left: 490px;
    /* margin: 5px; */
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    justify-content: center;
    position: absolute;
    display: inline-block;

}
.cardsbackground{
    background-color: #00cba6;
    margin-right: 30px;
    margin-left: 30px;
    /* display: flex; */
}
.smcard{
    width: 40%;
    height: 10px;
    margin-right: 500px;
}
.cardmoti{
    margin-left: 200px;
    margin-right: 100px;
    width: 900px;
    height: 290px;
    margin-bottom: 100px;
    position: relative;
}
.cardimaged{
    width: 250px;
    height: 230px;
    /* position: absolute; */
}
.smcard1{
    margin-left: 500px;
    width: 50%;
    height: 500px;
    position: absolute;
}
.smcard3{
    width: 40%;
    height: 10px;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 400px;
    position: absolute;
    justify-content: center;
}

